/* style.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Garante um fundo branco, mas pode ser qualquer cor ou até transparente */
    background-color: #fff;
}